<?php
/**
 * Module class is an extension for Pagebox\Module
 * abstract class. It registeres new box into
 * Pagebox plugin
 */

namespace Kurtosys\Pagebox\Modules\{{namespacess}};

use \Pagebox\Modules\Module as Abstract_Module;

class Module extends Abstract_Module {

	/**
	 * Module constructor
	 * @access public
	 */
	public function __construct() {

		parent::__construct();

	}

	/**
	 * Template config
	 * @return void
	 */
	public function set_config() {

		$this->config = array(
			// Name of the box for plugin use. Only alphanumeric charactes
			// and underscores are allowed
			'slug'        => '{{slug}}',
			// Human readable title of box. It will be displayed in all
			// backend functionalities
			'title'       => __('{{title}}', 'mellon'),
			// Short description about what box outputs. It will be displayed
			// below the title in new box modal window.
			'description' => __('{{main_desc}}', 'mellon'),
			// Elements with higher priority will be displayed earlier in
			// new box modal window
			'priority'    => 35,
			// Custom path for image file. Default image (module.jpg) should be
			// located in the main folder of current box
			'image'       => '',
			// Parameters array should contain config for all elements rendered
			// in edit box modal window. Array syntax must be valid with
			'width'       => array( 0, 100 ),
			// minimum and maximum percent width that module fits in
			// WPGeeks_Forms


			'fields'      => array(
			    {{#fields}}

				array(
					'type'    => '{{type}}',
					'group'	  => __('General', 'pagebox'),
					'name'	  => '{{slug}}',
					'label'  => '{{name}}',
					'description' => '{{description}}',
                    {{#overwrite}}
                     'overwrite' =>{{overwrite}}
                    {{/overwrite}}
				),

				{{/fields}}
			)


		);

	}

	/**
	 * Logic of module
	 *
	 * @param  object &$settings module raw settings
	 * @return void
	 */
	public function logic( &$settings ) {

		return $settings;

	}

}