.wpg-main-footer {
	color: #fff;
	background-color: #5e5953;
	padding: 12px 0;
	p {
		margin: 0;
		padding: 0;
		font-size: 13px;
	}
	.wpg-socials-ico {
		float: right;
		list-style-type: none;
	}
	.wpg-socials-ico {
		margin-top: 4px;
		margin-bottom: 0;
		padding: 0 0 0 0;
		li {
			display: inline-block;
			font-size: 12px;

			a {
				display: inline-block;
				color: #fff;
				width: 25px;
				height: 25px;
				line-height: 25px;
				text-align: center;
				background-color: #000;
			}
		} 
		.wpg-social-ico-facebook a {
			background-color: #507abc;
		}
		.wpg-social-ico-linkedin a {
			background-color: #8ec3d5;
		}
		.wpg-social-ico-twitter a {
			background-color: #63c9ed;
		}
		.wpg-social-ico-y-play a {
			background-color: #f06260;
		}	
		span {
			display: none;
		}
	}
}
@media screen and (max-width: 800px) {
	.wpg-main-footer {
		.wpg-socials-ico {
			padding-bottom: 15px;
		}
	}
}