.wpg-ico-search {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAMAAABIK2QJAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAC6UExURQAAAP////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////IcJMEAAAA+dFJOUwCrt8TRERh52DI6oZYDwD1r2ytDrtbHHkiB0MmnNS2iQcuEi3xPWtyajXKdQMhdGQisrz7lbZXSJWcMpksdUROucAAAAHJJREFUCNdFyVcWgkAQBdEizoxZzKJiBMxZMe1/WyLO0fq6/RoY9kZdP+iTVpFi4KqxDKFWLX8WZpGiLvg2X2J72iuLRktbrWm2tTcmHbOYcWedcUp5J+V2f7iDa9iFaSxPSfbOicniaFz49bre/sfz8QYwUAepzgxIewAAAABJRU5ErkJggg==");
  background-position: 50%;
  background-repeat: no-repeat; }

.wpg-main-header {
  font-family: Avenir-Light, "Times New Roman", Times, serif;
  font-weight: 400;
  background: #9d948a;
  color: #fff;
  padding: 22px 0 10px; }
  .wpg-main-header .container {
    max-width: 1054px !important; }
  .wpg-main-header .wpg-hamburger {
    display: none; }
  .wpg-main-header .wpg-nav-group {
    display: inline; }
  .wpg-main-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .wpg-main-header ul .sub-menu {
      background-color: #8d847a;
      left: 0;
      position: absolute;
      top: 100%;
      margin-top: 1px !important;
      width: 220px;
      max-height: 0;
      opacity: 0;
      -moz-transition: All 400ms ease-in-out;
      -o-transition: All 400ms ease-in-out;
      -webkit-transition: All 400ms ease-in-out;
      transition: All 400ms ease-in-out;
      overflow: hidden;
      z-index: 10; }
      .wpg-main-header ul .sub-menu li:hover {
        background-color: rgba(255, 255, 255, 0.05); }
      .wpg-main-header ul .sub-menu li {
        padding: 0; }
        .wpg-main-header ul .sub-menu li a {
          height: auto;
          padding: 8px 12px;
          vertical-align: top;
          width: 100%; }
      .wpg-main-header ul .sub-menu.opened {
        max-height: 1000px;
        opacity: 1; }
      .wpg-main-header ul .sub-menu .sub-menu {
        position: static;
        background-color: rgba(255, 255, 255, 0.1); }
  .wpg-main-header img {
    max-width: 100%;
    height: auto; }
  .wpg-main-header a {
    color: inherit;
    text-decoration: none; }
  .wpg-main-header h1 {
    margin: 0;
    padding: 0;
    width: 118px;
    max-width: 20%;
    float: left; }
  .wpg-main-header ::-webkit-input-placeholder {
    color: #fff; }
  .wpg-main-header :-moz-placeholder {
    color: #fff; }
  .wpg-main-header ::-moz-placeholder {
    color: #fff; }
  .wpg-main-header :-ms-input-placeholder {
    color: #fff; }
  .wpg-main-header input[type=search]:focus {
    outline: none;
    border-bottom: 1px dotted #92897e;
    font-size: 12px;
    width: 120px; }
  .wpg-main-header input[type=search] {
    vertical-align: middle;
    background: transparent;
    border: none;
    font-size: 14px;
    height: 13px;
    line-height: 13px;
    padding: 0 5px;
    border-left: 1px solid #fff;
    margin-left: 4px;
    width: 46px;
    overflow: hidden;
    -moz-transition: width 600ms ease-in-out;
    -o-transition: width 600ms ease-in-out;
    -webkit-transition: width 600ms ease-in-out;
    transition: width 600ms ease-in-out; }
  .wpg-main-header input[type=submit] {
    vertical-align: middle;
    border: none;
    background-color: transparent;
    text-indent: -1000px;
    width: 13px;
    height: 13px;
    line-height: 13px; }
  .wpg-main-header .wpg-dropdown-menu {
    position: relative; }
    .wpg-main-header .wpg-dropdown-menu label {
      cursor: pointer; }
    .wpg-main-header .wpg-dropdown-menu .sub-menu {
      height: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      -moz-transition: opacity 400ms ease-in-out;
      -o-transition: opacity 400ms ease-in-out;
      -webkit-transition: opacity 400ms ease-in-out;
      transition: opacity 400ms ease-in-out; }
    .wpg-main-header .wpg-dropdown-menu input[type=checkbox] {
      display: none; }
    .wpg-main-header .wpg-dropdown-menu input[type=checkbox]:checked + .sub-menu {
      height: auto;
      opacity: 1;
      left: 0;
      top: 100%;
      background: #655e52;
      margin-top: 6px;
      width: 100%;
      max-width: 150px;
      padding: 3px;
      border-left: 1px solid #423d35;
      border-right: 1px solid #423d35; }
      .wpg-main-header .wpg-dropdown-menu input[type=checkbox]:checked + .sub-menu a {
        display: block;
        padding: 3px; }
      .wpg-main-header .wpg-dropdown-menu input[type=checkbox]:checked + .sub-menu a:hover {
        background: rgba(0, 0, 0, 0.6); }
  .wpg-main-header .wpg-top-menu {
    float: right;
    margin-bottom: 18px; }
    .wpg-main-header .wpg-top-menu > li {
      float: left; }
    .wpg-main-header .wpg-top-menu li {
      font-size: 10px;
      text-transform: uppercase;
      margin: 0 20px 0 0; }
      .wpg-main-header .wpg-top-menu li:last-child {
        margin: 0px; }
      .wpg-main-header .wpg-top-menu li button {
        background-color: transparent;
        border: medium none;
        padding: 0 4px; }
        .wpg-main-header .wpg-top-menu li button button .fa {
          text-align: center;
          width: 15px; }
      .wpg-main-header .wpg-top-menu li a {
        display: inline-block;
        line-height: 1.2em;
        padding: 6px; }
    .wpg-main-header .wpg-top-menu label i {
      font-size: 12px;
      display: inline-block;
      margin-left: 4px; }
    .wpg-main-header .wpg-top-menu label {
      margin: 0 6px; }
    .wpg-main-header .wpg-top-menu .dropdown {
      background-color: #8d847a;
      left: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 100%;
      transition: all 0.3s ease 0s;
      width: 100px;
      z-index: 10; }
      .wpg-main-header .wpg-top-menu .dropdown.opened {
        max-height: 200px;
        opacity: 1; }
  .wpg-main-header .wpg-other-menu,
  .wpg-main-header .wpg-main-menu {
    float: right; }
    .wpg-main-header .wpg-other-menu > li,
    .wpg-main-header .wpg-main-menu > li {
      float: left; }
    .wpg-main-header .wpg-other-menu li,
    .wpg-main-header .wpg-main-menu li {
      font-size: 14px;
      padding: 6px 12px;
      font-weight: 300;
      position: relative; }
      .wpg-main-header .wpg-other-menu li .arrow,
      .wpg-main-header .wpg-main-menu li .arrow {
        cursor: pointer;
        float: right;
        margin: 0;
        background: transparent;
        width: 20px;
        text-align: center;
        height: 22px;
        line-height: 22px;
        margin-right: -12px; }
    .wpg-main-header .wpg-other-menu li li .arrow,
    .wpg-main-header .wpg-main-menu li li .arrow {
      margin-right: 0; }
    .wpg-main-header .wpg-other-menu a,
    .wpg-main-header .wpg-main-menu a {
      display: inline-block;
      vertical-align: top; }
  .wpg-main-header .wpg-main-menu a {
    display: inline-block;
    vertical-align: top; }
  .wpg-main-header .wpg-other-menu li {
    border-left: 1px solid #fff; }
  .wpg-main-header .container:after {
    content: '';
    display: block;
    height: 1px;
    overflow: hidden;
    clear: both;
    background: #fff; }
  .wpg-main-header nav {
    display: block;
    width: 80%;
    float: right;
    clear: right; }

/*
.wpg-main-header + .wpg-main-footer {
	margin-top: 100px;
	margin-top: 50%;
}
*/
@media screen and (max-width: 900px) {
  .wpg-main-header input[type=search]:focus {
    width: 46px; } }
@media screen and (max-width: 800px) {
  /*
  .wpg-main-header {
  	.wpg-other-menu,
  	.wpg-main-menu {
  		li {
  			padding: 8px 6px;
  		}
  	}
  }
  */ }
@media screen and (max-width: 700px) {
  .wpg-main-header {
    padding: 0; }
    .wpg-main-header .wpg-nav-group {
      max-height: 0;
      opacity: 0;
      display: block;
      clear: both;
      overflow: hidden;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out; }
    .wpg-main-header .wpg-nav-group.wpg-active-menu-dropdown {
      max-height: 2500px;
      opacity: 1;
      padding: 9px;
      border-top: 1px solid #fff; }
    .wpg-main-header .wpg-top-menu,
    .wpg-main-header .wpg-other-menu,
    .wpg-main-header .wpg-main-menu {
      float: none;
      clear: both; }
    .wpg-main-header .wpg-other-menu li {
      border: none; }
      .wpg-main-header .wpg-other-menu li a, .wpg-main-header .wpg-other-menu li form {
        background: rgba(0, 0, 0, 0.1); }
    .wpg-main-header .wpg-main-menu li {
      float: none; }
      .wpg-main-header .wpg-main-menu li a {
        display: block;
        padding: 6px 52px 6px 6px;
        background: rgba(0, 0, 0, 0.2);
        height: auto;
        position: relative; }
        .wpg-main-header .wpg-main-menu li a .arrow {
          background-color: rgba(0, 0, 0, 0.02);
          margin-right: 0;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 42px;
          height: auto;
          line-height: 42px; }
      .wpg-main-header .wpg-main-menu li a:hover {
        background: rgba(0, 0, 0, 0.6); }
    .wpg-main-header ul a, .wpg-main-header ul form {
      padding: 10px !important; }
    .wpg-main-header ul .sub-menu {
      position: static;
      width: 100%; }
    .wpg-main-header .wpg-hamburger span {
      display: none; }
    .wpg-main-header .wpg-hamburger {
      display: block;
      float: right;
      height: 63px;
      width: 63px;
      background: transparent;
      border: 0;
      border-left: 1px solid #fff;
      font-size: 24px;
      outline: none; }
    .wpg-main-header h1 {
      max-width: 30%;
      margin-top: 6px;
      position: relative;
      left: 10px; }
    .wpg-main-header nav {
      width: 100%; }
    .wpg-main-header .container {
      padding: 0; } }

/*# sourceMappingURL=header.css.map */
