@import "wpg-variables";

.wpg-ico-search {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAMAAABIK2QJAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAC6UExURQAAAP////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////IcJMEAAAA+dFJOUwCrt8TRERh52DI6oZYDwD1r2ytDrtbHHkiB0MmnNS2iQcuEi3xPWtyajXKdQMhdGQisrz7lbZXSJWcMpksdUROucAAAAHJJREFUCNdFyVcWgkAQBdEizoxZzKJiBMxZMe1/WyLO0fq6/RoY9kZdP+iTVpFi4KqxDKFWLX8WZpGiLvg2X2J72iuLRktbrWm2tTcmHbOYcWedcUp5J+V2f7iDa9iFaSxPSfbOicniaFz49bre/sfz8QYwUAepzgxIewAAAABJRU5ErkJggg==");
	//background-image: url('data:image/svg+xml;utf8,<svg ...> ... </svg>');
	background-position: 50%;
	background-repeat: no-repeat;
}
.wpg-main-header {
	font-family: Avenir-Light, "Times New Roman", Times, serif;
	font-weight: 400;
	background: $background-main-header;
	color: #fff;
	padding: 22px 0 $grid-gutter-width/2;

	.container {
		max-width: 1054px !important;
	}
	.wpg-hamburger {
		display: none;
	}
	.wpg-nav-group {
		display: inline;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	h1 {
		margin: 0;
		padding: 0;
		width: 118px;
		max-width: 20%;
		float: left;
	}
	@include placeholder {
	    color: #fff;
	}	

	input[type=search]:focus {
	    //outline-color: #92897e;
	    outline: none;
	    border-bottom: 1px dotted #92897e;
	    font-size: 12px;	
	    width: 120px;
	}
	input[type=search] {
		vertical-align: top;
		background: $background-main-header;
		border: none;
		font-size: 14px;
		height: 13px;
		line-height: 13px;
		padding: 0 5px;
		border-left: 1px solid #fff;
		margin-left: 4px;
		width: 46px;
		overflow: hidden;
		@include transition(width 600ms ease-in-out);
	}
	input[type=submit] {
		vertical-align: top;
		border: none;
		background-color: transparent;
		text-indent: -1000px;
		width: 13px;
		height: 13px;
		line-height: 13px;
	}

	.wpg-dropdown-menu {
		position: relative;
		label {
			cursor: pointer;
		}
		.sub-menu {
			height: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			@include transition(opacity 400ms ease-in-out);
		}

		input[type=checkbox] {
			display: none;
		}
		input[type=checkbox]:checked + .sub-menu {
			height: auto;
			opacity: 1;
			left: 0;
			top: 100%;
			background: #655e52;
			margin-top: 6px;
			width: 100%;
			max-width: 150px;
			padding: 3px;
			border-left: 1px solid #423d35;
			border-right: 1px solid #423d35;
			a {
				display: block;
				padding: 3px;
			}
			a:hover {
				background: rgba(0,0,0,.6);
			}
		}
	}

	.wpg-top-menu {
		float: right;
		margin-bottom: 18px;

		> li {
			float: left;
		}
		li {
			font-size: 10px;
			text-transform: uppercase;
		}
		label i {
			font-size: 12px;
			display: inline-block;
			margin-left: 4px;
		}
		label {
			margin: 0 6px;
		}
	}
	.wpg-other-menu,
	.wpg-main-menu {
		float: right;
		> li {
			float: left;
		}
		li {
			font-size: 14px;
			padding: 8px 12px;
			font-weight: 300;
		}
		a {
			display: inline-block;
			height: 13px;
			line-height: 13px;
			vertical-align: top;
		}
	}
	.wpg-other-menu {
		li {
			border-left: 1px solid #fff;
		}		
	}

	.container:after {
		content: '';
		display: block;
		height: 1px;
		overflow: hidden;
		clear: both;
		background: #fff;
	}
	nav {
		display: block;
		width: 80%;
		float: right;
		clear: right;
	}
}

@media screen and (max-width: 900px) {
	.wpg-main-header {
		input[type=search]:focus {
		    width: 46px;
		}
	}
}

@media screen and (max-width: 800px) {

	.wpg-main-header {
		.wpg-other-menu,
		.wpg-main-menu {
			li {
				padding: 8px 6px;
			}
		}
	}
	
}

@media screen and (max-width: 700px) {
	.wpg-main-header {
		padding: 0;
		.wpg-nav-group {
			max-height: 0;
			opacity: 0;
			display: block;
			clear: both;
			overflow: hidden;
			@include transition(all 400ms ease-in-out);
		}
		.wpg-nav-group.wpg-active-menu-dropdown {
			max-height: 1000px;
			opacity: 1;
			padding: 9px;
			border-top: 1px solid #fff;
		}
		.wpg-top-menu,
		.wpg-other-menu, 
		.wpg-main-menu {
			float: none;
			clear: both;
		}
		.wpg-other-menu {
			li {
				border: none;
			}
		}
		.wpg-main-menu {
			li {
				float: none;
				a {
					display: block;
					padding: 6px;
					background: rgba(0,0,0,.2);
					height: auto;
				}
				a:hover {
					background: rgba(0,0,0,.6);
				}
			}
		}

		.wpg-hamburger span {
			display: none;
		}
		.wpg-hamburger {
			display: block;
			float: right;
			height: 63px;
			width: 63px;
			background: transparent;
			border: 0;
			border-left: 1px solid #fff;
			font-size: 24px;
			outline: none;
		}
		h1 {
			max-width: 30%;
			margin-top: 6px;
			position: relative;
			left: $grid-gutter-width/2;
		}
		nav {
			width: 100%;
		}
		.container {
			padding: 0;
		}
	}
}