.module-full_width_image-title-icons-paragraph-link {
  padding: 30px 0;
  background-color: #9d948a; }
  .module-full_width_image-title-icons-paragraph-link img {
    max-width: 100%;
    height: auto; }
  .module-full_width_image-title-icons-paragraph-link .table-block {
    display: table;
    width: 100%; }
    .module-full_width_image-title-icons-paragraph-link .table-block .first-col {
      position: relative;
      display: table-cell;
      width: 50%;
      padding: 0 15px;
      vertical-align: middle; }
    .module-full_width_image-title-icons-paragraph-link .table-block .second-col {
      position: relative;
      display: table-cell;
      width: 50%;
      padding: 15px 15px;
      vertical-align: middle;
      color: #fff; }
      .module-full_width_image-title-icons-paragraph-link .table-block .second-col h2 {
        font-size: 50px;
        font-weight: 300;
        line-height: 1.1em;
        margin: 0 0 10px;
        text-transform: uppercase; }
      .module-full_width_image-title-icons-paragraph-link .table-block .second-col .social-icons {
        margin: 0 0 10px; }
        .module-full_width_image-title-icons-paragraph-link .table-block .second-col .social-icons a {
          font-size: 20px;
          margin: 0 6px 0 0;
          color: #fff; }
      .module-full_width_image-title-icons-paragraph-link .table-block .second-col p {
        margin: 0; }

.module-full_width_photo .inner {
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.module_full_width_title-subtitle-3blocks_with_image-title-paragraph {
  padding: 70px 0; }
  .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-1 h2 {
    font-size: 40px;
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
  .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-1 p {
    font-size: 14px;
    margin: 5px 0 0;
    text-align: center; }
  .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-2 .block {
    margin-top: 40px; }
    .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-2 .block img {
      display: table;
      margin: auto; }
    .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-2 .block h2 {
      font-size: 40px;
      margin: 10px 0 0;
      text-align: center; }
    .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-2 .block p {
      max-width: 280px;
      margin: 5px auto 0;
      text-align: center;
      color: #797979; }

.module_full_width_title-text-photo {
  padding: 25px 0; }
  .module_full_width_title-text-photo .block-outer {
    display: table;
    width: 100%; }
  .module_full_width_title-text-photo .block {
    display: table-cell;
    width: 50%; }
  .module_full_width_title-text-photo .first-block.is-left {
    padding-right: 0; }
  .module_full_width_title-text-photo .first-block.is-right {
    padding-left: 0; }
  .module_full_width_title-text-photo .first-block .inner {
    display: block;
    min-height: 390px;
    padding: 45px 25px;
    background-color: #fff; }
  .module_full_width_title-text-photo .first-block h2 {
    font-size: 38px;
    text-transform: uppercase; }
  .module_full_width_title-text-photo .first-block .text {
    font-size: 15px; }
  .module_full_width_title-text-photo .second-block .image {
    display: block;
    min-height: 390px;
    background-position: center center;
    background-size: cover; }
  .module_full_width_title-text-photo .second-block.is-right {
    padding-left: 0; }
  .module_full_width_title-text-photo .second-block.is-left {
    padding-right: 0; }

.module-full-width-contact-form-box-title-text .contact-form {
  padding: 30px;
  background-color: #8d857c; }
  .module-full-width-contact-form-box-title-text .contact-form .contact-row {
    display: table;
    clear: both;
    width: 100%;
    margin: 0 0 20px; }
    .module-full-width-contact-form-box-title-text .contact-form .contact-row:last-child {
      margin-bottom: 0; }
    .module-full-width-contact-form-box-title-text .contact-form .contact-row .left-col {
      font-family: Avenir-Light,sans-serif,arial;
      float: left;
      width: 23%; }
    .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col {
      float: right;
      width: 77%; }
      .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col .wpcf7-radio .wpcf7-list-item {
        margin: 0 20px 0 0; }
      .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col .wpcf7-radio .wpcf7-list-item input {
        margin: 0 2px 0 0; }
      .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col .custom-radio {
        display: inline-block;
        float: left;
        width: 18px;
        height: 18px;
        margin: 1px 4px 0 0;
        border: medium none;
        border-radius: 10px;
        background-color: #fff; }
      .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col input[type='radio']:checked + .custom-radio {
        border: 4px solid #fff;
        background-color: #737373; }

.module_full_width_post_prev-next_buttons .inner {
  background-color: #f4f3f2;
  padding: 10px; }
.module_full_width_post_prev-next_buttons ul {
  display: table;
  margin: auto;
  padding: 0; }
  .module_full_width_post_prev-next_buttons ul li {
    display: inline-block;
    margin: 0 12px;
    list-style: outside none none; }
    .module_full_width_post_prev-next_buttons ul li a {
      font-size: 20px;
      color: #1e1e1e; }
      .module_full_width_post_prev-next_buttons ul li a .fa {
        font-size: 26px;
        margin: -4px 6px 0;
        vertical-align: middle; }

.article-section {
  position: relative;
  display: inline-block;
  width: 100%; }
  .article-section .inner-section {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.28);
    margin: 40px 0 60px;
    position: relative;
    width: 100%;
    display: inline-block; }
    .article-section .inner-section .module-wpg {
      padding: 0; }
  .article-section .top-bg {
    background-color: #9d948a;
    content: "";
    display: block;
    height: 250px;
    position: absolute;
    top: 0;
    width: 100%; }
    .article-section .top-bg::before {
      background-color: #9d948a;
      content: "";
      height: 250px;
      left: -1000px;
      position: absolute;
      top: 0;
      width: 1000px; }
    .article-section .top-bg::after {
      background-color: #9d948a;
      content: "";
      display: block;
      height: 250px;
      position: absolute;
      right: -1000px;
      top: 0;
      width: 1000px; }
  .article-section .module-wpg .container {
    padding: 0; }

/*# sourceMappingURL=modules-wojtek.css.map */
