@import "wpg-variables";

/* framework display table */

.wpg-clear-both {
	clear: both;
}
.wpg-block {
	display: block;
}
.wpg-separator {
	height: $grid-gutter-width;
	background-color: red;
	display: block;
	width: 100%;
	border: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}


.span-table {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.span-table-row {
	display: table-row;
	width: 100%;
}
.span-table-cell {
	display: table-cell;
}

.vertical-align-top {
	vertical-align: top;
}
.vertical-align-middle {
	vertical-align: middle;
}
.vertical-align-bottom {
	vertical-align: bottom;
}

.span-1 { width: 4.16666666667%; }
.span-2 { width: 8.33333333333%; }
.span-3 { width:12.5%; }
.span-4 { width: 16.6666666667%; }
.span-5 { width: 20.8333333333%; }
.span-6 { width: 25%; }
.span-7 { width: 29.1666666667%; }
.span-8 { width: 33.3333333333%; }
.span-9 { width: 37.5%; }
.span-10 { width: 41.6666666667%; }
.span-11 { width: 45.8333333333%; }
.span-12 { width: 50%; }
.span-13 { width: 54.1666666667%; }
.span-14 { width: 58.3333333333%; }
.span-15 { width: 62.5%; }
.span-16 { width: 66.6666666667%; }
.span-17 { width: 70.8333333333%; }
.span-18 { width: 75%; }
.span-19 { width: 79.1666666667%; }
.span-20 { width: 83.3333333333%; }
.span-21 { width: 87.5%; }
.span-22 { width: 91.6666666667%; }
.span-23 { width: 95.8333333333%; }
.span-24 { width: 100%; }


/* modules */
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}


.module-full-width-image-title-icons-paragraph-link {
    background-color: #9d948a;
    color: #fff;
    padding: 30px 0;
    .span-table {
		table-layout: auto;
    }
    h1 {
		font-size: 48px;
		text-transform: uppercase;
    }
	img {
		max-width: 100%;
		height: auto;
		margin-top: $grid-gutter-width/2;
		margin-bottom: $grid-gutter-width/2;
	}
    .vertical-align-bottom {
		img {
			position: relative;
			margin: 0 0 -30px 0;
			max-height: 460px;
		}
    }
	.wpg-100p {
		height: 100%;
	}
	.wpg-social-icons {
		list-style-type: none;
		margin: 15px 0 0 0;
		padding: 0;
		li {
			margin: 0 10px 0 0;
			font-size: 20px;
			padding: 0;
			display: inline-block;
			span {
				display: none;
			}
		}
	}
	p {
		margin: 15px 0 0 0;
		//max-width: 400px;
		font-size: 15px;
	}
	.btn-1 {
		margin-top: 30px;
	}
}

.module-full-width-text-slider {
	text-align: center;
	padding: 60px 0 30px;
	p {
		font-style: italic;
		font-size: 15px;
		margin: 0 auto 10px;
		max-width: 650px;
	}
	h2 {
		font-size: 40px;
		text-transform: uppercase;
		max-width: 550px;
		margin: 0 auto 30px;
		line-height: 100%;
	}
	.cycle-slideshow {
		width: 100%;
		overflow: hidden;
		> div {
			width: 100%;
			p {
				max-width: 560px;
				padding: 15px 30px;
				margin-bottom: 0;
			}
		}
	}
	.cycle-slideshow-wrap {
		position: relative;
		margin-bottom: 15px;
		.cycle-slideshow-prev,
		.cycle-slideshow-next {
			font-size: 68px;
			width: 30px;
			height: 66px;
			line-height: 66px;
			text-align: center;
			position: absolute;
			top: 50%;
			margin-top: -33px;
			cursor: pointer;
			z-index: 600;
			color: #adacac;
		}
		.cycle-slideshow-prev {
			left: -5px;
		}
		.cycle-slideshow-next {
			right: -5px;
		}
	}
	.cycle-slideshow-pager {
		font-size: 45px;
		height: 67px;
		span {
			cursor: pointer;
			color: #cfcfcf;
		}
		.cycle-pager-active {
			color: #ababab;
		}
	}
}


.module-full-width-contact-form-title-paragraph {
	text-align: center;
	padding: 30px 0 45px;
	color: #fff;
	background-color: #9d948a;
	
	.container > div {
		max-width: 710px;
		margin: 0 auto;
	}

	h2 {
		font-size: 40px;
		text-transform: uppercase;
		margin: 0 auto 5px;
		max-width: 550px;

	}
	p {
		font-size: 15px;
		margin: 0 auto 15px;
		max-width: 550px;
	}

	input,
	textarea {
		outline: none;
	}

	input[type=text],
	input[type=email],
	textarea {
		width: 100%;
		border: none;
		margin: 0;
		color: #000;
		padding: 10px;
		font-size: 14px;
		font-family: Avenir-Light, Arial, Helvetica, sans-serif;
	}
	textarea {
		height: 115px;
	}
	label,
	span.wpcf7-not-valid-tip,
	div.wpcf7-validation-errors {
		width: 100%;
		display: block;
		text-align: left;
		font-family: Avenir-Light, Arial, Helvetica, sans-serif;
		margin: 0;
		padding: 10px 5px 5px;
		font-size: 14px;
	}
	span.wpcf7-not-valid-tip {
		color: #cc0000;
		padding: 5px;
	}
	div.wpcf7-validation-errors {
		text-align: center;
		margin-top: 15px;
		padding: 10px;
	}


	input[type=submit] {
		padding: 10px;
		min-width: 150px;
	}
	
	.ajax-loader {
		padding: 5px;
		display: inline-block;
		background-color: #fff;
		margin: 15px 10px 0;
		position: absolute;
	}
}

.module-two-blocks-with-logo-title-button-background-image {
	padding: 45px 0;
	.wpg-red-block {
		background-color: #d44451;
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: auto 100%;

		h2 {
			font-size: 40px;
			strong {
				font-family: Avenir-Black, Arial, Helvetica, sans-serif;
				font-weight: 400;
			}
			span {
				display: inline-block;
				vertical-align: bottom;
				position: relative;
				bottom: -5px;
			}
			img {
				vertical-align: bottom;
				margin-right: 10px;
			}
		}
		p {
			font-size: 25px;
			line-height: 120%;
			margin: 0;
		}
	}
	.wpg-blue-block {
		background-color: #355274;
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: auto 100%;
		p {
			font-size: 23px;
			line-height: 145%;
			margin: 0;
			font-family: Avenir-Book, Arial, Helvetica, sans-serif;
			text-transform: uppercase;
		}
	}
	.wpg-red-block,
	.wpg-blue-block {
		color: #fff;
		padding: 40px 30px 25px;
		//height: 285px;
		margin: 15px 0;
	}
	.btn-1 {
		margin-top: 30px;
		min-width: 150px;
	}

}

.module-full-width-left-title-right-text {
	background-color: #d0681b;
	padding: 30px 0;
	text-align: center;
	h2 {
		color: #fff;
		font-size: 77px;
		font-style: italic;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin: 0 10px;;
		display: inline-block;
		vertical-align: bottom;
		line-height: 105%;
		text-align: left;
	}
	p {
		font-size: 24px;
		font-style: italic;
		color: #773b10;
		margin: 0 10px;
		display: inline-block;
		vertical-align: middle;
		line-height: 130%;
		position: relative;
		bottom: 5px;
		text-align: left;
	}

	.wpg-container-inset {
		max-width: 550px;
		margin: 0 auto;

	}
}
.module-demo {
	padding: 45px 0;
	background-color: pink;
	.wpg-demo-block {
		padding: $grid-gutter-width/2;
		margin: $grid-gutter-width/2 0;
	}
}





.module-full-width-search-funds-title-paragraph-link {

	padding: 60px 0;
	.wpg-first-block {
		background-color: #fefffe;
		padding: 30px;
		h2 {
			font-size: 40px;
			text-transform: uppercase;
			margin: 0;
		}
	}
	.wpg-second-block {
		background-color: #dd6e1d;
		padding: 20px;
		width: 328px;
		position: relative;
		h2 {
			font-size: 30px;
			text-transform: uppercase;
			font-family: Avenir-Medium, Arial, Helvetica, sans-serif;
			color: #fff;
			margin: 0;
		}

	}

	.wpg-second-block:before {
		content: '';
		display: block;
		position: absolute;
		left: -16px;
		top: 50%;
		margin-top: -15px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 15px 16px 15px 0;
		border-color: transparent #dd6e1d transparent transparent;
	}


	p {
		font-size: 15px;
		margin: 15px 0 0 0;
	}
	h2 + p {
		margin: 10px 0 0 0;
	}
	.btn-2 {
		margin-top: 30px;
	}
	.wpg-plugin-select-simulate {
		position: relative;
		margin-top: 10px;
		.wpg-plugin-select-simulate-selection {
			background: #fff;
			color: #b1b1b1;
			padding: 9px 45px 9px 15px;
			cursor: pointer;
			font-size: 14px;
			font-family: "Open Sans";
			position: relative;
			overflow: hidden;
		}
		.wpg-plugin-select-simulate-selection:after {
			content: "\f107";
			width: 40px;
			min-height: 40px;
			line-height: 40px;
			text-align: center;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			font-family: FontAwesome;
			background-color: #4c2604;
			color: #fff;
			font-size: 24px;
		}
		.wpg-plugin-select-simulate-selection.wpg-plugin-select-simulate-selection-active:after {
			content: "\f00d"; //"\0000D7";
		}
		.wpg-plugin-select-simulate-selection strong {
			font-weight: 400;
		}
		.wpg-plugin-select-simulate-options {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 600;
			background-color: #fff;
			width: 100%;
			max-height: 200px;
			overflow-x: hidden;
			overflow-y: auto;
			.wpg-plugin-select-simulate-option {
				background-color: #f9f9f9;
				color: #b1b1b1;
				padding: 9px 15px;
				cursor: pointer;
				font-size: 14px;
				font-family: "Open Sans";
				border-top: 1px solid #eee;
			}
			.wpg-plugin-select-simulate-option:hover {
				background-color: #ececec;
			}
			.wpg-plugin-select-simulate-option.wpg-plugin-select-simulate-option-active {
				background: #999;
				color: #fff;
			}

		}
	}
}

.module-full-width-2-posts-with-thumnails-2-posts {
	padding-top: 60px;
	padding-bottom: 50px;
	p,h3 {
		padding: 0;
		margin: 0;
	}
	.wpg-inside-bg {
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.wpg-post-box {
		padding: 20px 15px;
		position: relative;
		.wpg-post-box_tag {
			font-size: 15px;
			color: #dd6e1d;
		}
		h3 {
			font-size: 21px;
			font-family: Avenir-Medium, Arial, Helvetica, sans-serif;
			color: #000;
			text-transform: uppercase;
		}
		.wpg-post-box_date {
			color: #aaa;
			font-size: 15px;

		}
		.wpg-post-box_main-content p {
			font-size: 15px;
			margin-top: 15px;
		}
	}
	.wpg-inside-bg + .wpg-post-box:before {
		content: '';
		display: block;
		position: absolute;
		top: -16px;
		left: 30px;

		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15px 16px 15px;
		border-color: transparent transparent #fff transparent;		
	}
	.wpg-col {
		margin-top: $grid-gutter-width/2;
		margin-bottom: $grid-gutter-width/2;
	}

	.wpg-post-box-corrected-1 {
		min-height: 240px; 
		margin-bottom: $grid-gutter-width/2;
	}
	.wpg-post-box-corrected-2 {
		min-height: 240px; 
		margin-top: $grid-gutter-width/2;
	}
	h2 {
		font-size: 40px;
		font-family: Avenir-Book, Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: bottom;
		margin: 0;
		margin-right: $grid-gutter-width;
		line-height: 105%;
		margin-bottom: $grid-gutter-width/2;
	}
	.wpg-filter-topic {
		display: inline-block;
		font-size: 15px;
		vertical-align: middle;
		color: #7e7e7e;
		margin: 0;
		position: relative;
		bottom: 4px;
		margin-bottom: $grid-gutter-width/2;
	}
	.wpg-filter-topic:after {
		font-family: FontAwesome;
	    content: "\f107";
	    display: inline-block;
	    vertical-align: bottom;
	    margin-left: $grid-gutter-width/2;
	    font-size: 20px;
	}

}
.module-full-width-title-text-photo {
	padding: 60px 0;
	.row {
		margin: 0;
		> div {
			padding: 0;
			> div,
			.wpg-image-bg {
				padding: 30px;
			}
			.wpg-image-bg {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 50% 50%;
			}
		}

	}
	.wpg-image-bg {
		min-height: 386px !important;
	}
	h2 {
		font-size: 40px;
		text-transform: uppercase;
		a:hover {
			text-decoration: none;
		}
	}
	p {
		font-size: 15px;
	}
	.wpg-container-text {
		background-color: #fff;
	}
	.wpg-container-text:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -25px;
	}
	.pull-xs-left.wpg-container-text:before {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 25px 0 25px 25px;
		border-color: transparent transparent transparent #fff;	
		right: -25px;
	}
	.pull-xs-right.wpg-container-text:before {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 25px 25px 25px 0;
		border-color: transparent #fff transparent transparent;
		left: -25px;
	}
}



.module-full-width-above-title-title-12-logotypes {
	padding: 60px 0;
	text-align: center;
	h2 {
		font-size: 40px;
		text-transform: uppercase;
		margin-top: 10px;
	}
	p {
		font-style: italic;
	}
	.wpg-list-items-inline-block ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: 0;
		text-align: center;

		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;

		li {
			margin: 0;
			padding: 0;
			display: inline;
			img {
				display: inline-block;
				vertical-align: middle;
				padding: 0 $grid-gutter-width/2;
				max-width: 100%;
				height: auto;
				margin: $grid-gutter-width 0;
			}
		}
	}
}


























/** BREAKPOINTS **/

@media screen and (max-width: map-get($grid-breakpoints, lg) ) { //~992px
	.module-full-width-2-posts-with-thumnails-2-posts {
		.wpg-post-box-cols > .span-table-row {
			display: table-cell;
			width: 50% !important;
			> div.span-table-cell {
				width: 100%;
				display: block;
			}
			.wpg-post-box-corrected-1-outset {
				padding-right: $grid-gutter-width/2;
			}
			.wpg-post-box-corrected-2-outset {
				padding-left: $grid-gutter-width/2;
			}
			.wpg-post-box {
				margin: 0;
			}
		}
		.wpg-col-special-1 {
			height: auto !important;
		}
	}

	.module-full-width-above-title-title-12-logotypes {
		.wpg-list-items-inline-block {
			text-align: center;
			ul {
				display: inline;
				li {
					img {
						width: auto;
						max-width: 100%;
						padding: 0 $grid-gutter-width;
					}
				}
			}
		}
	}

}

@media screen and (max-width: map-get($grid-breakpoints, md) ) { //~768px
	.module-full-width-search-funds-title-paragraph-link {
		.wpg-first-block,
		.wpg-second-block {
			width: 100%;
			display: block;
		}

		.wpg-first-block {
			padding-bottom: 60px;
		}

		.wpg-second-block:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -15px;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 15px 16px 15px;
			border-color: transparent transparent #dd6d1d transparent;
		}

	}
	#wpadminbar {
		display: none !important;
	}
	body.admin-bar {
		padding-bottom: 0 !important;
	}	
}


@media screen and (max-width: map-get($grid-breakpoints, sm) ) { //~544px
	/*
	[class*='module-'] {
		padding-left: $grid-gutter-width/2 !important;
		padding-right: $grid-gutter-width/2 !important;
	}
	*/



	[data-wpg-equal-height-item] {
		height: auto !important;
		min-height: 10px !important;
	}
	.module-full-width-left-title-right-text {
		h2, p {
			text-align: center;
		}
	}


	.module-full-width-image-title-icons-paragraph-link {
	    h1 {
			font-size: 40px;
		}
	}

	.module-full-width-2-posts-with-thumnails-2-posts {
		.wpg-post-box-corrected-1-outset,
		.wpg-post-box-corrected-2-outset {
			padding: 0 !important;
		}
		.wpg-post-box-cols > .span-table-row {
			width: 100% !important;
			display: block;
			margin-top: $grid-gutter-width;
		}
		.wpg-post-box-cols > .span-table-row:first-child {
			margin-top: 0;
		}
		.wpg-post-box-corrected-1,
		.wpg-post-box-corrected-2 {
			min-height: 50px !important;
		}
		.wpg-col-classic {

			> div {
				display: table !important;
				table-layout: fixed;
				> div {
					display: table-cell !important;
					width: 50% !important;
					vertical-align: middle;
					.wpg-post-box_main-content {
						display: none;
					}
				}

			}

		}
		.wpg-inside-bg + .wpg-post-box:before {
			content: '';
			display: block;
			position: absolute;
			left: -16px;
			
			top: 50%;
			margin-top: -15px;

			width: 0;
			height: 0;
			border-style: solid;
		    border-width: 15px 16px 15px 0;
		    border-color: transparent #fff transparent transparent;
		}

	}


	.module-full-width-title-text-photo {
		.wpg-container-text:before {
			display: none;
		}
		.wpg-image-bg {
			min-height: 288px !important;
		}
	}



}
