@import "wpg-variables";

.pixelperfect-image.activated {
	opacity: 0.8 !important;
	top: 117px;
}



.module-full_width_image-title-icons-paragraph-link {
	padding: 30px 0;
	background-color: #9d948a;
	img {
		max-width: 100%;
		height: auto;
	}
	.table-block {
		display: table;
		width: 100%;
		.first-col {
			display: table-cell;
			vertical-align: middle;
			width: 50%;
			padding: 0 15px;
			position: relative;
		}
		.second-col {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
			color: #fff;
			padding: 15px 15px;
			position: relative;
			h2 {
				font-size: 50px;
				margin: 0px 0 10px;
				font-weight: 300;
				line-height: 1.1em;
				text-transform: uppercase;
			}
			.social-icons {
				margin: 0 0 10px;
				a {
					color: #fff;
					font-size: 20px;
					margin: 0 6px 0 0;
				}
			}
			p {
				margin: 0;
			}
		}
	}
}
.module-full_width_photo {
	.inner {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 400px;
	}
}
.module_full_width_title-subtitle-3blocks_with_image-title-paragraph {
	padding: 70px 0;
	.row-1 {
		h2 {
			font-size: 40px;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
		}
		p {
			font-size: 14px;
			margin: 5px 0 0;
			text-align: center;
		}
	}
	.row-2 {
		.block {
			margin-top: 40px;
			img {
				display: table;
				margin: auto;
			}
			h2 {
				font-size: 40px;
				margin: 10px 0 0;
				text-align: center;
			}
			p {
				color: #797979;
				margin: 5px auto 0;
				max-width: 280px;
				text-align: center;
			}
		}
	}
}
.module_full_width_title-text-photo {
  padding: 25px 0;
	.block-outer {
		display: table;
		width: 100%;
	}
	.block {
		display: table-cell;
		width: 50%;
	}
	.first-block {
		&.is-left {
			padding-right: 0;
		}
		&.is-right {
			padding-left: 0;
		}
		.inner {
			background-color: #fff;
			padding: 45px 25px;
			display: block;
			min-height: 390px;
		}
		h2 {
		    font-size: 38px;
		    text-transform: uppercase;
		}
		.text {
		    font-size: 15px;
		}
	}
	.second-block {
		.image {
			background-position: center center;
			background-size: cover;
			display: block;
			min-height: 390px;
		}
		&.is-right {
			padding-left: 0;
		}
		&.is-left {
			padding-right: 0;
		}
	}
}








