.module-full_width_image-title-icons-paragraph-link {
  padding: 30px 0;
  background-color: #9d948a; }
  .module-full_width_image-title-icons-paragraph-link img {
    max-width: 100%;
    height: auto; }
  .module-full_width_image-title-icons-paragraph-link .table-block {
    display: table;
    width: 100%; }
    .module-full_width_image-title-icons-paragraph-link .table-block .first-col {
      position: relative;
      display: table-cell;
      width: 50%;
      padding: 0 15px;
      vertical-align: middle; }
    .module-full_width_image-title-icons-paragraph-link .table-block .second-col {
      position: relative;
      display: table-cell;
      width: 50%;
      padding: 15px 15px;
      vertical-align: middle;
      color: #fff; }
      .module-full_width_image-title-icons-paragraph-link .table-block .second-col h2 {
        font-size: 50px;
        font-weight: 300;
        line-height: 1.1em;
        margin: 0 0 10px;
        text-transform: uppercase; }
      .module-full_width_image-title-icons-paragraph-link .table-block .second-col .social-icons {
        margin: 0 0 10px; }
        .module-full_width_image-title-icons-paragraph-link .table-block .second-col .social-icons a {
          font-size: 20px;
          margin: 0 6px 0 0;
          color: #fff; }
      .module-full_width_image-title-icons-paragraph-link .table-block .second-col p {
        margin: 0; }

.module-full_width_photo .inner {
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.module_full_width_title-subtitle-3blocks_with_image-title-paragraph {
  padding: 70px 0; }
  .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-1 h2 {
    font-size: 40px;
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
  .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-1 p {
    font-size: 14px;
    margin: 5px 0 0;
    text-align: center; }
  .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-2 .block {
    margin-top: 40px; }
    .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-2 .block img {
      display: table;
      margin: auto; }
    .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-2 .block h2 {
      font-size: 40px;
      margin: 10px 0 0;
      text-align: center; }
    .module_full_width_title-subtitle-3blocks_with_image-title-paragraph .row-2 .block p {
      max-width: 280px;
      margin: 5px auto 0;
      text-align: center;
      color: #797979; }

.module_full_width_title-text-photo {
  padding: 25px 0; }
  .module_full_width_title-text-photo .block-outer {
    display: table;
    width: 100%; }
  .module_full_width_title-text-photo .block {
    display: table-cell;
    width: 50%; }
  .module_full_width_title-text-photo .first-block.is-left {
    padding-right: 0; }
  .module_full_width_title-text-photo .first-block.is-right {
    padding-left: 0; }
  .module_full_width_title-text-photo .first-block .inner {
    display: block;
    min-height: 390px;
    padding: 45px 25px;
    background-color: #fff; }
  .module_full_width_title-text-photo .first-block h2 {
    font-size: 38px;
    text-transform: uppercase; }
  .module_full_width_title-text-photo .first-block .text {
    font-size: 15px; }
  .module_full_width_title-text-photo .second-block .image {
    display: block;
    min-height: 390px;
    background-position: center center;
    background-size: cover; }
  .module_full_width_title-text-photo .second-block.is-right {
    padding-left: 0; }
  .module_full_width_title-text-photo .second-block.is-left {
    padding-right: 0; }

.module-full-width-contact-form-box-title-text .contact-form {
  padding: 30px;
  background-color: #8d857c; }
  .module-full-width-contact-form-box-title-text .contact-form .contact-row {
    display: table;
    clear: both;
    width: 100%;
    margin: 0 0 20px; }
    .module-full-width-contact-form-box-title-text .contact-form .contact-row:last-child {
      margin-bottom: 0; }
    .module-full-width-contact-form-box-title-text .contact-form .contact-row .left-col {
      font-family: Avenir-Light,sans-serif,arial;
      float: left;
      width: 23%; }
    .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col {
      float: right;
      width: 77%; }
      .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col .wpcf7-radio .wpcf7-list-item {
        margin: 0 20px 0 0; }
      .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col .wpcf7-radio .wpcf7-list-item input {
        margin: 0 2px 0 0; }
      .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col .custom-radio {
        display: inline-block;
        float: left;
        width: 18px;
        height: 18px;
        margin: 1px 4px 0 0;
        border: medium none;
        border-radius: 10px;
        background-color: #fff; }
      .module-full-width-contact-form-box-title-text .contact-form .contact-row .right-col input[type='radio']:checked + .custom-radio {
        border: 4px solid #fff;
        background-color: #737373; }

.module_full_width_post_prev-next_buttons .inner {
  padding: 10px;
  background-color: #f4f3f2; }
.module_full_width_post_prev-next_buttons ul {
  display: table;
  margin: auto;
  padding: 0; }
  .module_full_width_post_prev-next_buttons ul li {
    display: inline-block;
    margin: 0 12px;
    list-style: outside none none; }
    .module_full_width_post_prev-next_buttons ul li a {
      font-size: 20px;
      color: #1e1e1e; }
      .module_full_width_post_prev-next_buttons ul li a .fa {
        font-size: 26px;
        margin: -4px 6px 0;
        vertical-align: middle; }

.article-section {
  position: relative;
  display: inline-block;
  width: 100%; }
  .article-section .inner-section {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 40px 0 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.28); }
    .article-section .inner-section .module-wpg {
      padding: 0; }
  .article-section .top-bg {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 250px;
    content: '';
    background-color: #9d948a; }
    .article-section .top-bg::before {
      position: absolute;
      top: 0;
      left: -1000px;
      width: 1000px;
      height: 250px;
      content: '';
      background-color: #9d948a; }
    .article-section .top-bg::after {
      position: absolute;
      top: 0;
      right: -1000px;
      display: block;
      width: 1000px;
      height: 250px;
      content: '';
      background-color: #9d948a; }
  .article-section .module-wpg .container {
    padding: 0; }

.meet-the-team .container .team-member {
  box-sizing: border-box;
  position: relative; }
  .meet-the-team .container .team-member .team-header {
    padding: 15px;
    margin: 0 10px 60px 0;
    background-color: #fff;
    width: 32.3%;
    display: inline-block;
    box-sizing: border-box;
    opacity: 0.5;
    height: 460px;
    position: relative;
    vertical-align: middle; }
    .meet-the-team .container .team-member .team-header:nth-child(6n-1) {
      margin-right: 0px; }
    .meet-the-team .container .team-member .team-header.active {
      opacity: 1;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.28); }
      .meet-the-team .container .team-member .team-header.active:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -60px;
        left: 50%;
        margin-left: -25px;
        z-index: 600;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 25px 25px 25px;
        border-color: transparent transparent #ffffff transparent; }
    .meet-the-team .container .team-member .team-header .wpg-job-title {
      padding-left: 10px; }
    .meet-the-team .container .team-member .team-header h3 {
      padding: 10px 10px 0 10px; }
  .meet-the-team .container .team-member .team-body {
    display: none;
    width: 100%;
    float: left;
    margin-bottom: 30px;
    padding: 45px 30px;
    background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%); }
    .meet-the-team .container .team-member .team-body > div {
      float: left; }
    .meet-the-team .container .team-member .team-body h3 {
      padding: 10px 10px 0 0; }
  .meet-the-team .container .team-member .wpg-job-title {
    font-size: 15px;
    font-family: "Georgia";
    color: #aaaaaa;
    line-height: 1.533;
    text-align: left;
    margin-top: 5px; }
  .meet-the-team .container .team-member img {
    width: 100%;
    max-height: 360px;
    height: auto; }
  .meet-the-team .container .team-member h3 {
    font-size: 21px;
    font-family: Avenir-Medium, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0; }

@media screen and (max-width: 992px) {
  .meet-the-team .container .team-member .team-header {
    width: 32%;
    height: 330px; }
  .meet-the-team .container .team-member img {
    min-height: 230px; } }
@media screen and (max-width: 768px) {
  .meet-the-team .container .team-member .team-header {
    width: 48.7%; }
    .meet-the-team .container .team-member .team-header:nth-child(6n-1) {
      margin-right: 10px; }
    .meet-the-team .container .team-member .team-header:nth-child(4n-1) {
      margin-right: 0px; } }
@media screen and (max-width: 544px) {
  .meet-the-team .container .team-member .team-header {
    margin-right: 10px;
    width: 100%;
    height: auto; } }
/*** MODULE 40 ***/
.module-full-width-posts-filter {
  line-height: 115%;
  padding: 10px 0 !important;
  color: #fff;
  background-color: #675c50; }
  .module-full-width-posts-filter select,
  .module-full-width-posts-filter option {
    color: #000; }
  .module-full-width-posts-filter .wpg-plugin-select-simulate {
    position: relative;
    float: left;
    width: auto;
    margin: 0 60px 0 0; }
    .module-full-width-posts-filter .wpg-plugin-select-simulate:last-child {
      margin: 0px; }
    .module-full-width-posts-filter .wpg-plugin-select-simulate .wpg-plugin-select-simulate-selection {
      font-size: 15px;
      padding: 10px 0;
      cursor: pointer; }
      .module-full-width-posts-filter .wpg-plugin-select-simulate .wpg-plugin-select-simulate-selection strong {
        font-weight: 400; }
    .module-full-width-posts-filter .wpg-plugin-select-simulate .wpg-plugin-select-simulate-selection:after {
      font: normal normal normal 21px/1 FontAwesome;
      position: relative;
      top: 2px;
      display: inline-block;
      margin-left: 10px;
      content: '\f107';
      color: #b3aea8; }
    .module-full-width-posts-filter .wpg-plugin-select-simulate .wpg-plugin-select-simulate-options {
      position: absolute;
      z-index: 600;
      top: 100%;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 192px; }
    .module-full-width-posts-filter .wpg-plugin-select-simulate .wpg-plugin-select-simulate-option {
      font-size: 15px;
      min-width: 160px;
      padding: 8px 10px;
      cursor: pointer;
      color: #000;
      background-color: #f9f9f9; }
    .module-full-width-posts-filter .wpg-plugin-select-simulate .wpg-plugin-select-simulate-option:hover {
      background-color: #eee; }
    .module-full-width-posts-filter .wpg-plugin-select-simulate .wpg-plugin-select-simulate-option-active,
    .module-full-width-posts-filter .wpg-plugin-select-simulate .wpg-plugin-select-simulate-option-active:hover {
      color: #fff;
      background-color: #3e3831; }

/*** END MODULE 22 ***/
.fund-managers .container {
  background-color: #fff;
  color: #000;
  padding: 40px 30px;
  margin-top: 25px; }
  .fund-managers .container ul {
    list-style: none; }
  .fund-managers .container img {
    width: 160px;
    height: 160px;
    margin-bottom: 25px;
    border-radius: 50%; }
  .fund-managers .container h3 {
    font-family: Avenir-Black, Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: normal; }
  .fund-managers .container p {
    margin-top: 5px; }
  .fund-managers .container h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Avenir-Book, Arial, Helvetica, sans-serif;
    line-height: 105%; }

/*** MODULE 41 ***/
/*** MODULE 28 ***/
.module-full-width-table {
  padding: 60px 0; }
  .module-full-width-table .wpg-container-tabels .wpg-table-wrap-outset {
    overflow-x: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.28);
    background-color: #fff;
    width: 100%; }
  .module-full-width-table .wpg-container-tabels .wpg-table-wrap {
    padding: 30px 0; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap thead th:nth-child(1) {
      width: 140px; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap p {
      font-size: 15px; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap table {
      border-collapse: separate;
      border-spacing: 0 6px;
      width: 100%;
      padding: 0 30px;
      table-layout: fixed; }
      .module-full-width-table .wpg-container-tabels .wpg-table-wrap table .fa.fa-check,
      .module-full-width-table .wpg-container-tabels .wpg-table-wrap table .fa.fa-times {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #000;
        text-align: center;
        line-height: 20px;
        color: #f1efed;
        vertical-align: middle;
        border-radius: 100%;
        font-size: 14px; }
      .module-full-width-table .wpg-container-tabels .wpg-table-wrap table .fa.fa-check {
        background: #86bd46; }
      .module-full-width-table .wpg-container-tabels .wpg-table-wrap table .fa.fa-times {
        background: #d34451; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap caption,
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap thead th {
      color: #fff;
      font-weight: 400;
      font-family: Avenir-Light, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-transform: uppercase; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap caption {
      caption-side: top;
      background-color: #675c50;
      padding: 10px 15px;
      margin: 0 30px; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap thead th {
      background-color: #dc6f26;
      padding: 15px;
      text-align: center; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap tbody td,
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap tbody th {
      background-color: #e4e2dd;
      color: #000;
      font-size: 15px;
      font-weight: 400;
      padding: 10px 15px;
      text-align: center; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap tbody th {
      text-align: left; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap tbody tr:nth-child(even) td,
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap tbody tr:nth-child(even) th {
      background-color: #efeeed; }
    .module-full-width-table .wpg-container-tabels .wpg-table-wrap a {
      color: #2b4d7a;
      text-decoration: underline; }
  .module-full-width-table .wpg-container-tabels .wpg-bottom-container {
    margin-top: 35px; }

/*** END MODULE 28 ***/
/*** END MODULE 41 ***/

/*# sourceMappingURL=modules-wojtek.css.map */
